{% extends 'template.html' %}

{% block main %}

<script type="text/javascript">
    $(document).ready(function(){
        $("#buy-form").submit(function(){
            var symbol = $("[name=symbol]", this).val();
            var shares = $("[name=shares]", this).val();
            $.post(
                '/stocks/buy',
                {symbol: symbol, shares: shares}
            ).done(function(data){

                if (data.error)
                    displayError(data.error);

                displayInfo(data.success);

            }).error(function(error){
                displayError('Server Error: Unable to retrieve quote.', error);
            });

            return false;
        });
    });
</script>

<form id="buy-form">
    {% csrf_token %}
    <fieldset>
        <div class="form-group">
            <input autofocus="true" class="form-control" name="symbol" placeholder="Symbol" type="text"/>
        </div>
        <div class="form-group">
            <input class="form-control" name="shares" placeholder="Shares" type="text"/>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default">Buy</button>
        </div>
    </fieldset>
</form>
{% endblock %}